.button {
  position: relative;
  z-index: 5;
  display: inline-block;
  border: none;
  
  padding: 12px 25px 11px;
  padding-right: 45px;
  min-width: 188px;
  
  letter-spacing: 1.5px;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: $color-text;
  background: $color-primary;
  transition: .4s;
  overflow: hidden;

  &::before {
    background: $color-primary;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    z-index: -2;
  }

  &::after {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: -1;

    content: '';
    width: 10px;
    height: 10px;
    background: #fff;

    transition: .6s;
  }

  span {
    display: block;
    pointer-events: none;
    transition: .4s;
  }

  @include from-small {
    &:hover {
      color: #fff;
  
      &::after {
        transform: scale(25) translateX(-2px);
        background: $color-accent;
      }
  
      span {
        transform: translateX(10px);
      }
    }
  }

  &--outline {
    border: 1px solid $color-secondary;
    background: none;
    padding-top: 11px;
    padding-bottom: 10px;

    &::before {
      display: none;
    }

    &::after {
      background: $color-secondary;
    }

    @include from-small {
      &:hover {
        border-color: $color-accent;
      }
    }
  }
}
