.button {
  position: relative;
  z-index: 5;
  display: inline-block;
  
  padding: 12px 25px;
  min-width: 188px;
  
  letter-spacing: 1.5px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: $color-secondary;
  border: 2px solid $color-secondary;

  transition: .5s;

  @include small {
    padding: 10px 15px;
    border-width: 1px;
    font-size: 14px;
  }

  &::before {
    position: absolute;
    left: -4px;
    top: -2px;
    z-index: -1;

    content: '';
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-color: $color-primary;

    transition: .4s;
    transform-origin: left;
    transform: scaleX(0.01);

    @include small {
      left: -2px;
      top: -1px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
    }
  }

  &:hover {
    cursor: none;
    color: $color-text;

    &::before {
      transform: scaleX(1);
    }
  }

  &--outline {
    background-color: #fff;
    color: $color-text;
  }
}
