.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  z-index: 0;

  @include small {
    position: inherit;
  }
}

.copyright {
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}