.footer {
  padding: 120px 0 45px;
  background: $color-text;
  color: #FFFFFF;

  @include small {
    padding: 80px 0 45px;
  }

  &__copyright {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;

    @include small {
      font-size: 10px;
    }
  }
}