body {
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  color: $color-text;
}

strong, b {
  font-weight: 700;
}

a {
  word-wrap: break-word;
}

p {
  word-wrap: break-word;
  line-height: 1.8;
}

img {
  max-width: 100%;
  height: auto;
}

.heading {
  margin: 0;
  font-weight: 300;
  font-size: 60px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: transparentize($color: $color-secondary, $amount: .9);

  @include small {
    font-size: 48px;
  }

  &--white {
    color: transparentize($color: #ffffff, $amount: .1);
  }
}
