.about {
  padding: 300px 0;
  text-align: center;

  @include small {
    padding: 100px 0;
  }

  &__photo {
    position: relative;
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @include small {
      margin: 45px 0;
    }

    &__img {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      width: 422px;

      @include small {
        width: 300px;
      }
    }

    &__left, &__right {
      position: absolute;
      width: 298px;
      height: 298px;
      transform: rotate(45deg);

      @include small {
        width: 210px;
        height: 210px;
      }
    }
    
    &__left {
      background: $color-text;
    }
    &__right {
      background: $color-primary;
    }
  }

  &__text {
    margin: auto;
    width: 620px;
    max-width: 100%;
  }

  .button {
    margin-top: 45px;
  }
}