.contact {
  text-align: center;

  .heading {
    color: transparentize($color: #fff, $amount: .75);
  }

  &__grid {
    margin: 120px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    max-width: 100%;

    @include small {
      margin: 80px auto;
      display: block;
    }
  }

  &__nip {
    margin: 120px 0;
    letter-spacing: 0.2em;

    @include small {
      margin: 80px;
    }

    span {
      color: $color-primary;
    }
  }
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  aspect-ratio: 1 / 1;
  background: linear-gradient(45deg, $color-secondary, $color-text);
  
  &:nth-child(2) {
    background: linear-gradient(45deg, $color-text, $color-secondary);
  }

  &__title {
    margin: 45px 0 5px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 300;
    font-size: 16px;
    color: $color-primary;
  }

  a {
    font-size: 28px;

    @include medium {
      font-size: 24px;
    }
  }
}