.contact {
  min-height: inherit;
}

.contact-box {
  position: relative;
  height: 500px;
  padding: 25px;
  background-color: $color-secondary;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include small {
    padding: 60px 0;
    height: inherit;
  }

  &__before, &__after {
    content: '';
    position: absolute;
    z-index: 50;
  }

  &__before {
    left: 0;
    top: 0;
    border-top: 500px solid $color-primary;
    border-right: 500px solid transparent;

    @include small {
      border-top-width: 40px;
      border-right-width: 40px;
    }
  }

  &__after {
    right: 0;
    bottom: 0;
    border-bottom: 500px solid $color-primary;
    border-left: 500px solid transparent;

    @include small {
      border-bottom-width: 40px;
      border-left-width: 40px;
    }
  }

  a {
    font-weight: 700;
    font-size: 18px;
    transition: .4s;

    @include small {
      font-size: 16px;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__title {
    margin: 30px 0;
    font-weight: 900;
    font-size: 47px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include small {
      font-size: 28px;
    }

    &::before, &::after {
      content: '';
      display: block;
      margin: 45px 0;
      width: 60px;
      height: 2px;
      background-color: $color-primary;

      @include small {
        margin: 25px 0;
        width: 40px;
        height: 1px;
      }
    }
  }
}