.hero {
  position: relative;

  &__trees-front, &__trees-back {
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: calc(100% + 3px);
    max-width: calc(100% + 3px);
    display: block;
  }

  &__trees-front {
    z-index: -1;
  }
  &__trees-back {
    z-index: 10;
  }

  .container {
    position: relative;
    min-height: calc(100vh + 200px);
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-height: 780px) {
      min-height: calc(100vh + 380px);
      padding-top: 100px;
    }

    @include small {
      min-height: inherit;
      padding-top: 120px;
      padding-bottom: 220px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 200;
    font-size: 70px;
    line-height: 1;
    text-transform: uppercase;

    @include small {
      font-size: 40px;
    }

    @include xsmall {
      font-size: 31px;
    }

    &__row {
      position: relative;
      overflow: hidden;
      display: block;
      height: 80px;

      @include small {
        height: 50px;
      }
  
      @include xsmall {
        height: 40px;
      }
    }

    span:not(.hero__title__row) {
      position: absolute;
      z-index: 200;

      opacity: 0;
      transform: translateY(200px);
    }
  }

  &__subtitle {
    margin: 45px 0 65px;
    width: 480px;
    max-width: 100%;

    @include small {
      margin: 25px 0 35px;
    }
  }

  .buttons {
    .button {
      opacity: 0;
      margin-right: 15px;
      transform: translateY(50px);

      @include xsmall {
        width: 100%;
      }
    }
  }
}